.login-wrapper{
  margin: 14rem auto;
  width: 20rem;
}

input{
  margin-bottom: 2rem;
}


button{

  margin-bottom: 2rem;
  margin-left: 5.6rem;

}

.alert-danger{

  border-radius: 100rem;
  text-align: center;
  font-size: 1rem;
  margin-top: -30rem;
  font-size: 14px;
  width: 13rem;
  margin-left: 2rem;
}





